@use '../scss/utils' as u;

.checknContactBtn {
	position: absolute;
	left: 0;
	bottom: 2%;
	font-family: var(--JostR-font);
	background-color: transparent;
	border: none;
	width: 9.375rem;
	color: var(--yellow-background);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	cursor: pointer;

	span {
		position: relative;
		font-size: 1.25rem;
		transition: all 200ms ease-in-out;

		@include u.breakpoint-down(small) {
			font-size: 1rem;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: -0.1875rem;
			left: 0.1875rem;
			width: 40%;
			height: 0.125rem;
			background-color: var(--dark-pink);
			transition: all 200ms ease-in-out;
		}
	}

	svg {
		display: flex;
		align-items: center;

		path {
			transition: all 200ms ease-in-out;
		}
	}

	&:hover span {
		color: var(--dark-pink);
	}

	&:hover svg path {
		fill: var(--dark-pink);
	}

	&:hover span::after {
		background-color: var(--yellow-background);
		width: 80%;
	}
}
