@use "../scss/utils" as u;

.contactInput {
	&__header {
		font-family: var(--JostR-font);
		font-weight: 100;
		text-transform: uppercase;
		color: var(--lavender);
		font-size: clamp(0.875rem, 1.4vw, 1.125rem);
		margin-bottom: 10px;
		letter-spacing: 0.8pt;
	}

	&__input {
		position: relative;
		font-family: var(--JostR-font);
		letter-spacing: 1pt;
		color: var(--dark-background);
		width: 90%;
		height: 2.5rem;
		border: none;
		border-bottom: 2px solid var(--dark-background);
		caret-color: var(--light-background);

		&::placeholder {
			font-family: var(--JostL-font);
			position: absolute;
			left: 0;
			bottom: 8%;
			color: var(--light-stroke);
			vertical-align: bottom;
			font-size: 0.875rem;
			line-height: 1.2;

			@include u.breakpoint-up(medium) {
				font-size: 1rem;
			}
		}

		&:focus {
			outline: none;
		}
	}

	textarea {
		height: 5.625rem;
		resize: none;
	}
}
