@use "../scss/utils" as u;

.documentParts {
	color: var(--dark-background);
	display: flex;
	flex-direction: column;
	gap: 1rem;

	&__heading {
		text-align: left;
		text-transform: uppercase;
		font-size: 1.25rem;
	}

	&__info {
		text-align: right;
		color: var(--lighter-dark-stroke);
	}

	&__imageContainer {
		padding: 3.125rem 1.25rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		gap: 4rem;
	}

	&__heading {
		font-size: 1rem;

		@include u.breakpoint-up(xxsmall) {
			font-size: 1.125rem;
		}
		@include u.breakpoint-up(large) {
			font-size: 1.25rem;
		}
	}

	&__info {
		font-size: 0.875rem;
		line-height: 1.4;

		@include u.breakpoint-up(xxsmall) {
			font-size: 1rem;
		}
	}

	.skill_images {
		object-fit: contain;
		width: 2.8125rem;

		@include u.breakpoint-up(xxsmall) {
			width: 3.75rem;
		}

		@include u.breakpoint-up(large) {
			width: 5.625rem;
		}
	}
}
