@use "../scss/utils" as u;

.downloadCV {
	position: relative;
	font-family: var(--JostL-font);
	font-size: 0.875rem;
	border: 1px solid var(--primary-color);
	width: 8.9375rem;
	height: 2.1875rem;
	border-radius: 3.125rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.25rem 0.9375rem;
	background-color: transparent;
	color: var(--primary-color);
	transition: all 200ms ease-in-out;
	cursor: pointer;
	overflow: hidden;

	@include u.breakpoint-down(mid-xsmall) {
		width: 7.5rem;
		height: 1.5625rem;
		padding: 1.25rem 0.625rem;
		font-size: 0.75rem;
	}

	svg {
		@include u.breakpoint-down(mid-xsmall) {
			height: 0.625rem;
		}
	}

	span,
	svg {
		position: relative;
		transition: color 400ms ease-in-out;
	}

	svg path {
		transition: all 400ms ease-in-out;
	}

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background-color: var(--primary-color);
		transform: scale(0, 1);
		transform-origin: center;
		transition: transform 400ms ease-in-out;
	}

	&:hover::before {
		transform: scale(1);
	}

	&:hover span {
		color: var(--dark-background);
	}

	&:hover svg path {
		fill: var(--dark-background);
	}
}
