@use '../scss/utils' as u;

.linksContainer {
	background-color: var(--dark-background);
	width: 100%;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10rem;

	&__github,
	&__liveLink {
		display: flex;
		align-items: center;

		.social__links {
			height: 1.25rem;

			@include u.breakpoint-up(xxsmall) {
				height: 2.1875rem;
			}

			path {
				transition: all 100ms ease-in-out;
			}

			&:hover path {
				fill: var(--yellow-background);
			}
		}
	}
}
