@use "../scss/utils" as u;

.mainTitle {
	display: flex;
	align-items: flex-end;
	gap: 0.25rem;

	.title {
		font-size: 1.25rem;
		font-family: var(--JostBold-font);
		line-height: 1;

		@include u.breakpoint-up(xxsmall) {
			font-size: 1.5rem;
		}

		@include u.breakpoint-up(mid-xsmall) {
			font-size: 1.75rem;
		}

		@include u.breakpoint-up(mid-small) {
			font-size: 2rem;
		}

		span {
			color: var(--lavender);
		}
	}

	svg {
		margin-bottom: 0.25rem;
		width: 1rem;
	}
}
