@use "../scss/utils" as u;

.nav__link {
	font-size: 1.5rem;
	text-transform: uppercase;
	line-height: 2.2;
	letter-spacing: 1pt;
	color: var(--dark-blue) !important;
	transition: opacity 50ms ease-in-out;
	transition: transform 200ms ease-in-out;
	cursor: pointer;

	@include u.breakpoint-up(large) {
		line-height: 2.4;
	}

	&:hover {
		background: linear-gradient(to right, var(--dark-pink), var(--yellow-background), var(--dark-blue));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transform: scale(1.5) !important;
	}
}

.activeLink {
	background: linear-gradient(to right, var(--dark-pink), var(--yellow-background), var(--dark-blue));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: scale(1.02);
}
