@use "../scss/utils" as u;

.projectNavigationBtn {
	.button {
		font-family: var(--text-font);
		padding: 0.5625rem 0.625rem;
		border: none;
		border-radius: 0.625rem;
		display: grid;
		place-items: center;
		background-color: var(--dark-blueish-gray);
		color: var(--white);
		font-size: 1rem;
		transition: all 180ms ease-in-out;
		cursor: pointer;

		@include u.breakpoint-down(mid-xsmall) {
			font-size: 0.8125rem;
		}

		@include u.breakpoint-up(xsmall) {
			padding-inline: 1.0625rem;
		}

		&:hover {
			background-color: var(--lavender);
		}
	}

	.active {
		background-color: var(--lavender);
	}
}
