@use "../scss/utils" as u;

.footer {
	max-width: 93.75rem;
	margin-inline: auto;
	position: relative;
	background-color: var(--light-background);
	font-family: var(--JostR-font);

	&__body {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__socialLinks {
		width: 100%;
		border-bottom: 2px solid var(--light-gray);
		height: 3.125rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
	}

	.social__links,
	.footer__link,
	.nav__logo {
		cursor: pointer;
	}

	.social__links:hover path {
		fill: var(--yellow-background);
	}

	&__nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;

		@include u.breakpoint-up(medium) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.nav__logo:hover,
	.footer__link:hover {
		background: linear-gradient(to right, var(--dark-pink), var(--yellow-background), var(--primary-color));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__options {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.3rem;

		@include u.breakpoint-up(medium) {
			flex-direction: row;
		}
	}

	&__copyright {
		color: var(--light-gray);
		text-align: center;
	}
}
