@use '../scss/utils' as u;

.allProjects {
	background-color: var(--dark-background);
	position: relative;
	width: 100%;
	height: auto;
	padding: 3.125rem .625rem;
	max-width: 93.75rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;

    @include u.breakpoint-up(mid-medium) {
        padding-inline: 4.375rem;
    }
}
