@use "../scss/utils" as u;

.projectDocumentation {
	background-color: var(--primary-color);
	color: var(--dark-background);
	max-width: 93.75rem;
	margin-inline: auto;

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 3.125rem;
		width: 90%;
		max-width: 93.75rem;
		margin-inline: auto;
	}

	&__title {
		text-align: center;
		padding: 1.25rem;
		font-size: 1.25rem;

		@include u.breakpoint-up(xxsmall) {
			font-size: 1.375rem;
		}
		@include u.breakpoint-up(mid-small) {
			font-size: 1.75rem;
		}
		@include u.breakpoint-up(medium) {
			font-size: 2rem;
		}

		span {
			color: var(--lavender);
		}
	}

	&__image {
		width: 100%;
		height: 31.25rem;
		margin-bottom: 5rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 1.875rem;
	}

	.linksContainer:nth-last-child(1) {
		margin-bottom: 3.125rem;
	}

	.simpleNav {
		background-color: var(--primary-color);

		svg {
			g > path {
				fill: var(--dark-background);
				transition: all 100ms ease-in-out;
			}

			rect {
				stroke: var(--dark-background);
			}

			&:hover g > path {
				fill: var(--primary-color);
			}

			&:hover rect {
				fill: var(--dark-background);
			}
		}
	}

	.downloadCV {
		border-color: var(--dark-background);
		color: var(--dark-background);

		&::before {
			background-color: var(--dark-background);
		}

		&:hover span {
			color: var(--primary-color);
		}

		svg path {
			fill: var(--dark-background);
		}

		&:hover svg path {
			fill: var(--primary-color);
		}
	}

	.originalLink__container {
		display: flex;
		justify-content: flex-end;
	}


	.originalLink {
		color: var(--dark-pink);
		text-transform: uppercase;
		transition: color 100ms ease-in-out;

		&:hover {
			color: var(--dark-pink);
			color: var(--light-background);
		}
	}
}
