@use "../scss/utils" as u;

.simpleNav {
	background-color: var(--dark-background);
	max-width: 93.75rem;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 4.125rem;
	z-index: 999;
	margin-inline: auto;

	@include u.breakpoint-up(large) {
		height: 5rem;
	}

	.cv_container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.backBtn {
	cursor: pointer;

	g > path {
		transition: all 100ms ease-in-out;
	}

	&:hover g > path {
		fill: var(--dark-background);
	}

	&:hover rect {
		fill: var(--primary-color);
	}
}
